$dark-grey: #272727
$background-color: #f9fafa
$cyan: #6bb7be
$light-orange: #f89646
$white: #ffffff

@mixin button-style($color-shade)
    display: inline-block
    padding: 10px 15px
    background-color: $color-shade
    color: $white
    border: 1px solid $color-shade

body
    margin: 0px 45px
    font-family: "Poppins", sans-serif

header
    display: flex
    padding: 5px 0px
    text-transform: uppercase

    .navbar-icon
        margin-right: 16px
        span
            color: $dark-grey
            font:
                size: 22px
                weight: 700

    nav
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        ul
            display: flex
            list-style-type: none
            color: $dark-grey
            padding-left: 0px
            margin: 0px
            font:
                size: 15px
                weight: 400
            li
                padding: 3px 15px
                margin: 10px 15px

        a
            margin-right: 16px

.landing-intro
    background: $background-color
    padding: 0px 15px
    display: flex
    flex-wrap: wrap
    align-items: center
    align-content: center
    height: 90vh
    ul
        display: flex
        width: 100%
        justify-content: center

.landing-intro-content
    display: flex
    margin: 0px 15px
    .detail-box
        padding: 0px 15px
    img
        padding: 0px 15px
    h1
        font:
            size: 40px
            weight: bold
        text-transform: uppercase
        line-height: 1.2
    p
        margin: 25px 0px

    .btn-box
        width: 100%
        .btn1
            @include button-style($cyan)
        .btn2
            @include button-style($light-orange)
