body {
  margin: 0px 45px;
  font-family: "Poppins", sans-serif;
}
body h3, body h4, body h5, body h6 {
  font-weight: 500;
}
body h2 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0px 0px 8px;
}
body p {
  line-height: 1.5;
}

header {
  display: flex;
  padding: 5px 0px;
  text-transform: uppercase;
}
header .navbar-icon {
  margin-right: 16px;
}
header .navbar-icon span {
  color: #272727;
  font-size: 22px;
  font-weight: 700;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header nav ul {
  display: flex;
  list-style-type: none;
  color: #272727;
  padding-left: 0px;
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
}
header nav ul li {
  padding: 3px 15px;
  margin: 10px 15px;
}
header nav a {
  margin-right: 16px;
}

.landing-intro {
  background: #f9fafa;
  padding: 0px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.landing-intro ul {
  display: flex;
  width: 100%;
  justify-content: center;
}

.landing-intro-content {
  display: flex;
  margin: 0px 15px;
}
.landing-intro-content .detail-box {
  padding: 0px 15px;
  width: 475px;
}
.landing-intro-content img {
  padding: 0px 15px;
}
.landing-intro-content h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.landing-intro-content p {
  margin: 25px 0px;
}
.landing-intro-content .btn-box {
  width: 100%;
}
.landing-intro-content .btn-box a {
  cursor: pointer;
  margin: 5px;
  text-align: center;
  width: 165px;
}
.landing-intro-content .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #6bb7be;
  color: #ffffff;
  border: 1px solid #6bb7be;
  cursor: pointer;
}
.landing-intro-content .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f89646;
  color: #ffffff;
  border: 1px solid #f89646;
  cursor: pointer;
}

.furniture-section {
  padding: 90px 15px;
}
.furniture-section .furniture-heading {
  margin-left: 150px;
}
.furniture-section .offered-furniture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.furniture-section .card {
  text-transform: uppercase;
  padding: 25px;
  margin-top: 45px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #f9fafa;
  border-radius: 5px;
}
.furniture-section .card .price-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  height: 22.5px;
}
.furniture-section .card img {
  width: 245px;
  height: 225px;
  padding: 25px;
}
.furniture-section .card h5 {
  font-size: 18px;
  margin: 0px 0px 8px;
}
.furniture-section .card h6 {
  font-size: 16px;
}
.furniture-section .card h6 span {
  color: #6bb7be;
}
.furniture-section .card a {
  font-size: 15px;
  color: #6bb7be;
}

.about-section {
  display: flex;
  background-color: #f9fafa;
  align-items: center;
  justify-content: center;
  padding: 90px 15px;
  margin: 0px 45px;
}
.about-section .about-details a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #6bb7be;
  color: #ffffff;
  border: 1px solid #6bb7be;
  cursor: pointer;
}

.blog-section {
  padding: 90px 0px;
}
.blog-section .blog-heading {
  text-align: center;
}
.blog-section .blog-content {
  display: flex;
  padding: 0px 140px;
  gap: 28px;
  margin: 55px 0px;
}
.blog-section .blog-content .blog-box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  padding: 0px;
}
.blog-section .blog-content .blog-box h5 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 8px;
}
.blog-section .blog-content .blog-box img {
  width: 100%;
}
.blog-section .blog-content .blog-box .blog-details {
  padding: 25px;
}
.blog-section .blog-content .blog-box p {
  font-size: 15px;
  color: #444;
  margin: 0px 0px 8px;
}
.blog-section .blog-content .blog-box a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #6bb7be;
  color: #ffffff;
  border: 1px solid #6bb7be;
  cursor: pointer;
}

.contact-section {
  background-color: #191e1f;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}
.contact-section .contact-nav {
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  padding: 25px 0;
  text-align: center;
}
.contact-section .contact-nav a {
  display: flex;
  flex-direction: column;
}
.contact-section .contact-nav a i {
  font-size: 28px;
}
.contact-section .contact-nav a span {
  margin-top: 7px;
}

footer {
  text-align: center;
  color: #000000;
  padding: 25px 0;
}/*# sourceMappingURL=style.css.map */